<footer class="site-footer">
    <p>
        <button class="btn js-toggle-light-mode">Light Mode</button>
    </p>
    <p>
        Latest release: <a href="https://github.com/exacheck/exacheck/releases/latest">1.0.0</a>
    </p>
</footer>

<script>
const toggleLightMode = document.querySelector('.js-toggle-light-mode');

jtd.addEvent(toggleLightMode, 'click', function(){
    if (jtd.getTheme() === 'light') {
        jtd.setTheme('dark');
        toggleDarkMode.textContent = 'Light Mode';
    } else {
        jtd.setTheme('light');
        toggleDarkMode.textContent = 'Dark Mode';
    }
});
</script>